# Alpha Vantage
AV_API_KEY=YOUR_API_KEY_HERE

# AWS
S3_BUCKET=stock-market-dwh-yourname
AWS_REGION=us-east-1

# RDS
RDS_HOST=stock-dw.xxxxxxxxx.us-east-1.rds.amazonaws.com
RDS_PORT=5432
RDS_DB=stock_dw
RDS_USER=postgres
RDS_PASSWORD=YOUR_RDS_PASSWORD_HERE